.all{display: flex;justify-content: space-around;align-items: center;font-size: 14px;margin-top: 25px;}
.all span{font-size: 35px;color: tomato;}
.all .dan{text-align: center;}
.all a{text-decoration: none;color: #000;}