/* 热门演出，演唱会，展览，儿童剧 */
.hot{margin-top: 20px;}
.hot .title{display: flex;align-items: center;justify-content: space-between;padding: 15px 0px;}
.hot .title_l h2{font-size: 18px;font-weight: 700;color: #232323;}
.hot .title_r span{color: #232323;font-size: 12px;}
/* 热门演出 */
#s_container img{width: 76px;height: 104px;border-radius: 5px;padding-bottom: 10px;display: block;margin: 0 auto;}
#s_container p{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow:hidden;font-size: 14px;line-height: 20px;color: #232323;}
/* 演唱会、展览休闲、儿童剧上部 */
.exhibition{background-color: #352F23;display: flex;width: 100%;position: relative;left: -15px;padding: 15px;}
.children{background-color: #352F23;display: flex;width: 100%;position: relative;left: -15px;padding: 15px;}
.singtop1{display: flex;background-color: #77748C;width: 100%;position: relative;left: -15px;padding: 15px;}
.sing_l{margin-right: 15px;}
.sing_l::after{content: "";display: block;width: 29px;height: 35px;background: url("/mainhold.png") no-repeat;position: absolute;left: 22px; top: 15px;background-size: 29px;}
.sing_l img{width: 104px;height: 140px;border-radius: 5px;border: 1px solid #fff;}
.sing_r{color: #FEFEFE;}
.sing_r p{text-align: left;}
.sing_r p:nth-of-type(1){line-height: 50px;}
.sing_r p:nth-of-type(2){font-size: 14px;}
.sing_r p:nth-of-type(3){font-size: 12px;line-height: 50px;}
.sing_r em{font-style: normal;}
.sing_r span{margin-right: 8px;}
.sing_r span:nth-of-type(2){margin-left: 8px;}
.sing_r i{font-style: normal;font-size: 12px;}
/* 演唱会 */
#sw_container{margin: 15px 0;}
#sw_container img{width: 76px;height: 104px;border-radius: 5px;margin-bottom: 10px;display: block;margin: 0 auto;padding-bottom: 10px;}
#sw_container p{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow:hidden;font-size: 12px;line-height: 16px;color: #232323;}
#sw_container p{line-height: 20px;font-size: 14px;text-align: left;padding-left: 1em;}
#sw_container p:nth-of-type(2){color: #999999;}
#sw_container p em{font-style: normal;font-size: 14px;color: #FF6743;margin-right: 6px;}
/* 展览休闲 */
#swi_container{margin: 15px 0;}
#swi_container img{width: 76px;height: 104px;border-radius: 5px;margin-bottom: 10px;margin-top: 10px;display: block;margin: 0 auto;padding-bottom: 10px;}
#swi_container p{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow:hidden;font-size: 12px;line-height: 16px;color: #232323;}
#swi_container p{line-height: 20px;font-size: 14px;text-align: left;padding-left: 2em;}
#swi_container p:nth-of-type(2){color: #999999;text-align: left;margin-bottom: 10px;}
#swi_container p em{font-style: normal;font-size: 14px;color: #FF6743;margin-right: 6px;}
.swiper-slide-active img{width: 90px;height: 118px;}
/* 儿童剧 */
#swip_container{margin: 15px 0;}
#swip_container img{width: 76px;height: 104px;border-radius: 5px;margin-bottom: 10px;display: block;margin: 0 auto;padding-bottom: 10px;}
#swip_container p{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow:hidden;font-size: 12px;line-height: 16px;color: #232323;}
#swip_container p{line-height: 20px;font-size: 14px;text-align: left;}
#swip_container p:nth-of-type(2){color: #999999;text-align: left;}
#swip_container p em{font-style: normal;font-size: 14px;color: #FF6743;margin-right: 6px;}